[Desktop Entry]
Name=Phuturista Gamer Red
X-KDE-PluginInfo-Author=badcast
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=lmecomposer@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=phuturista-gamer-red
X-KDE-PluginInfo-Version=20230821
